%html
  %head
    %title Pocket Closet
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'bootstrap/css/bootstrap.min.css', rel: 'stylesheet', media: 'screen'}
  %body
    %script{src: 'jquery/jquery-1.9.1.js'}
    %script{src: 'bootstrap/js/bootstrap.min.js'}
